*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow-x: auto; 
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(230, 202, 202, 1) 50%, rgba(145, 126, 126, 1) 100%);


}



.navContainer{  
    width: 100vw;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(58, 158, 100, 1) 51%, rgba(237, 221, 83, 1) 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav{
    width: 100%;
}

#navList{
    width:100%;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#navLogo {
    font-size: 2.5rem;
    color: azure;
}

a{
    text-decoration: none;
    color: azure;
}

#navItems{
    display: flex;
    gap: 20px;

}

.footerBox{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(58, 158, 100, 1) 51%, rgba(237, 221, 83, 1) 100%);
    width: 100%;
    text-align: center;
    min-height: 30px;
}

.footerBox p{
    font-size: 1.5rem;
    color: azure;
}

.contentBox{
    width: 70%;
    margin:auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 40px;
    box-shadow: 0px 0px 20px black;
}


.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox{
    position: relative;
    overflow: hidden;
}


.rightBox img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.rightBox:hover{
    transform: scale(1.1);
    transition: all 0.2s linear 0s;
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2{
    font-size: 2rem;
    color: #2A7B9B;
    color: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(58, 158, 100, 1) 51%, rgba(237, 221, 83, 1) 100%);
}

.ingBox{
    font-size: 1.7rem;
}

.resBox{
    font-size: 1.1rem;
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(78, 69, 69, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s linear 0s;

}

.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}