* {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(3, 167, 85);
    border: 10px solid rgb(128, 0, 0);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(4, 200px);
    gap: 1rem;

}

.item {
    height: 100px;
    width: 100px;
    background-color: rgb(131, 1, 12);
    border: 5px solid rebeccapurple ;

}