*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    display: grid;
    border: 20px solid rgb(248, 2, 2);
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(3, 10fr);
    grid-template-rows: repeat(4, 10fr);
    

}

.item {
    background-color: rgb(255, 81, 0);
    border: 20px solid black;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

.sider {
    grid-row-start: 2;
    grid-row-end: 4;
}

.bng {
    grid-column-start: 2;
    grid-column-end: 4;
}
